<!DOCTYPE html>
<html>
  <head>
    <title>RailsElmWebpackerExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="apiRoot" value="https://api.example.com">
  </head>

  <body>
    <%= yield %>
    <%= yield :tail_scripts %>
  </body>
</html>
